/* The animation code */

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes correct {
    0% {
        transform: scale(1.2);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotateY(-10deg);
    }
    25% {
        transform: rotateY(-60deg);
    }
    50% {
        transform: rotateY(-120deg);
    }
    100% {
        transform: rotateY(-180deg);
    }
}

* {
    font-family: 'Bungee', cursive;
    color: #3fb0ac;
}

body {
    background-color: #dddfd4;
    border: 36px white solid;
    padding-bottom: 16px;
    background: -webkit-linear-gradient(#dddfd4, #3fb0ac);
    background: -o-linear-gradient(#dddfd4, #3fb0ac);
    background: -moz-linear-gradient(#dddfd4, #3fb0ac);
    background: linear-gradient(#dddfd4, #3fb0ac);
}
/* Typography */

h1 {
    text-align: center;
    color: #173e43;
    font-size: 4em;
}

h2 {
    text-align: center;
    color: #fae596;
    font-size: 3em;
}

p {
    font-size: 2em;
}


/* Info bar */
.bar {
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 80%;
    justify-content: space-around;

}

.bar-item {
    /* width: 100%; */
    margin: 0 10px;
}
.bar-item p {
    margin: 0;
}
.star {
    color: #fae596;
}

/* Cards container */
.container {
    padding: 0 10px 10px 10px;
    margin: auto;
    width: 100%;
    min-width: 170px;
    max-width: 640px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

/* Card */
.card {
    width: 150px;
    height: 150px;
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
    transform: rotateY(0);
    background: #173e43;
    border-radius: 8px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    color: #fae596;
}

.card i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.card.open {
    background: white;
    animation-name: rotate;
    animation-duration: 0.5s;
}

.card.open .card-icon {
    display: inline-block;
}

.card.open .back-icon {
    display: none;
}

.card .card-icon {
    display: none;
    color: #fae596;
}

.card .back-icon {
    display: inline-block;
    color: #fae596;
}

card.wrong {
    animation-name: shake;
    animation-duration: 1s;
}

.card.open.right {
    animation-name: correct;
    animation-duration: 1s;
}


#result {
    display: none;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    body{
        border: 0;

    } 
    .card {
        width: 130px;
        height: 130px;
    }
}
@media only screen and (max-width: 560px) {
    .card {
        width: 110px;
        height: 110px;
    }
}

@media only screen and (max-width: 480px) {
 
    h1 {
        font-size: 3em;
    }
    .card {
        width: 90px;
        height: 90px;
    }
    .card i {
        font-size: 2em;
    }
}

@media only screen and (max-width: 400px) {

    .card {
        width: 80px;
        height: 80px;
    }
}