.container {
    padding: 0 10px 10px 10px;
    margin: 0;
    width: 100%;
    min-width: 170px;
    max-width: 640px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    background: gray;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.card {
    background: white;
    width: 150px;
    height: 150px;
    line-height: 200px;
    margin: 0;
    margin-top: 10px;
    color: gray;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.card.unturned {
    transform: rotateY(0);
    background: #696969;
}

.card.unturned .card-icon {
    display: none;
}

.card.unturned .back-icon {
    display: inline-block;
}

.card.hide {
    background: gray;
}

.card.hide .card-icon {
    display: none;
}

.card .back-icon {
    display: none;
    color: white;
}